@font-face {
    font-family: Market;
    src: url(/style/Market_Deco.ttf);
} 

@font-face {
    font-family: Matchbook;
    src: url(/style/Matchbook.ttf);
} 

body {
    text-align: center; 
    background: url(/style/88cxE.jpg);
    background-size: cover;
    background-color: #505050; 
    color: white;
    
}

#logo {
    width: 60%;
    height: 60%;
}


h1 {
    font-family: Matchbook;
    font-size: 120px;
    /*text-shadow: black 0.01em 0.01em 0.01em;*/
    margin-top: -100px;
}

form {
    color: white;
    margin-top: -70px;
}

input {
    outline: solid;
    outline-color: white;
    padding: 10px;
    font-family: Matchbook;
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    
    
}

::-webkit-input-placeholder {
   color: white;
}

[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
}

input, select, textarea{
    color: white;
}

